body {
        background-color: #52489c;
        font-family: Verdana;
        text-align: center;
    }

.form {
        text-align: justify;
        background-color: #d9c7eb;
        color: #0b675c;
        padding: 30px 20px;
        margin: 50px auto;
        max-width: 80%;
        box-shadow: #000;
        border-radius: 10px;
}

.control{
        text-align: left;
        margin-bottom: 25px;
}

.control label {
        display: block;
        margin-bottom: 10px;
    }

.control input{
                border: 1px #080505;
                border-radius: 4px;
                width: 80%;
                color: #000000;
                font-family: 'Times New Roman', Times, serif;
                padding: 5px;
                font-size: larger;
}

.control select{
        border: 1px #080505;
        border-radius: 4px;
        width: 80%;
        color: #000000;
        font-family: 'Times New Roman', Times, serif;
        padding: 5px;
        font-size: medium;
}



.input[type="radio"] {
        margin-right: 10px;
   
}
    
    
.label {
        display: inline-block;
        margin-right: 20px;
}
    

input[type="radio"]:checked + label {
        font-weight: bold;
        color: #6a8528;
}



.input[type="checkbox"] {
        margin-right: 10px;
}
    

.label {
        display: inline-block;
        margin-right: 20px;
}
    
input[type="checkbox"]:checked + label {
        font-weight: bold;
        color: #6a8528;
}

.button{
        background-color: #000;
        color: #a1de15;
        width: 220px;
        height: 50px;
        border-radius: 9px;
        font-size: x-large;
        font-family: 'Times New Roman', Times, serif;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.2s;
}

button:hover {
                background-color: #4426ca;
}
      

button:active {
                transform: scale(0.95);
}
      




